In [2]:
import pandas as pd

In [3]:
teenager = pd.read_csv("teenager_sns.csv")
teenager.head(40)

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,2006,M,18.980,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2006,F,18.801,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2006,M,18.335,69,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2006,F,18.875,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,NaN,18.995,10,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1
5,2006,F,NaN,142,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
6,2006,F,18.930,72,0,0,0,0,0,0,...,0,2,0,0,2,0,0,0,0,0
7,2006,M,18.322,17,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2006,F,19.055,52,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2006,F,18.708,39,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10,2006,F,18.543,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2006,F,19.463,21,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2006,F,18.097,87,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2006,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2006,F,18.398,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
15,2006,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2006,NaN,NaN,135,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2006,F,18.987,26,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2006,F,17.158,27,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2006,F,18.497,123,0,0,0,0,0,0,...,0,1,2,0,1,1,0,0,0,0
20,2006,F,18.738,35,0,0,0,0,0,0,...,0,0,0,0,1,2,0,0,0,0
21,2006,M,19.296,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
22,2006,F,18.752,8,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2006,F,19.036,74,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
24,2006,F,19.039,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
25,2006,M,19.020,33,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
26,2006,F,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2006,M,18.426,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,1,0
28,2006,F,19.266,14,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
29,2006,F,18.278,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2006,F,18.793,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,0
31,2006,F,18.524,61,3,3,0,0,2,0,...,0,0,2,1,0,0,0,0,0,0
32,2006,F,18.683,41,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
33,2006,M,19.072,43,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,2006,F,8.383,0,0,0,0,1,0,0,...,0,1,0,0,0,0,2,0,0,0
35,2006,M,17.906,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,2006,F,19.053,212,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
37,2006,F,18.908,34,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,2006,F,NaN,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
39,2006,F,19.280,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
40,2006,F,18.324,54,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
41,2006,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,2006,F,18.089,37,0,0,4,0,0,0,...,0,0,0,2,0,0,0,0,0,0
43,2006,M,19.343,28,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,2006,F,18.697,24,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
45,2006,F,19.239,43,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
46,2006,F,18.355,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
47,2006,F,18.787,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,2006,NaN,18.894,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,2006,M,NaN,35,1,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
teenager["gender"].value_counts().sort_values(ascending=False)

F    22054
M     5222
Name: gender, dtype: int64

In [14]:
help(pd.Series.value_counts)

Help on method value_counts in module pandas.core.base:

value_counts(self, normalize=False, sort=True, ascending=False, bins=None, dropna=True) unbound pandas.core.series.Series method
    Returns object containing counts of unique values.

    The resulting object will be in descending order so that the
    first element is the most frequently-occurring element.
    Excludes NA values by default.

    Parameters
    ----------
    normalize : boolean, default False
        If True then the object returned will contain the relative
        frequencies of the unique values.
    sort : boolean, default True
        Sort by values
    ascending : boolean, default False
        Sort in ascending order
    bins : integer, optional
        Rather than count values, group them into half-open bins,
        a convenience for pd.cut, only works with numeric data
    dropna : boolean, default True
        Don't include counts of NaN.

    Returns
    -------
    counts : Series

In [15]:
teenager["gender"].value_counts(dropna = False)

F      22054
M       5222
NaN     2724
Name: gender, dtype: int64

In [18]:
teenager["age"].count()

24914

In [22]:
print 'number of missing values in age:', len(teenager["age"])-teenager["age"].count()

number of missing values in age: 5086

In [23]:
teenager["age"].describe()

count    24914.000000
mean        17.993949
std          7.858054
min          3.086000
25%         16.312000
50%         17.287000
75%         18.259000
max        106.927000
Name: age, dtype: float64

In [95]:
import numpy as np

In [ ]:
# def tag_nan(value):
#     if (value>=13) & (value<=20):
#         return value
#     else:
#         return np.nan
    
# teenager["age"]=teenager["age"].map(tag_nan)
# teenager["age"].describe()

In [66]:
idx=~((teenager["age"]>=13) & (teenager["age"]<=20))

In [72]:
teenager["age"][idx]=np.nan

c:\python27\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [74]:
teenager.head(40)

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,2006,M,18.980,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2006,F,18.801,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2006,M,18.335,69,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2006,F,18.875,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,NaN,18.995,10,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1
5,2006,F,NaN,142,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
6,2006,F,18.930,72,0,0,0,0,0,0,...,0,2,0,0,2,0,0,0,0,0
7,2006,M,18.322,17,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2006,F,19.055,52,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2006,F,18.708,39,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10,2006,F,18.543,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2006,F,19.463,21,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2006,F,18.097,87,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2006,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2006,F,18.398,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
15,2006,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2006,NaN,NaN,135,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2006,F,18.987,26,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2006,F,17.158,27,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2006,F,18.497,123,0,0,0,0,0,0,...,0,1,2,0,1,1,0,0,0,0
20,2006,F,18.738,35,0,0,0,0,0,0,...,0,0,0,0,1,2,0,0,0,0
21,2006,M,19.296,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
22,2006,F,18.752,8,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2006,F,19.036,74,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
24,2006,F,19.039,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
25,2006,M,19.020,33,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
26,2006,F,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2006,M,18.426,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,1,0
28,2006,F,19.266,14,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
29,2006,F,18.278,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,2006,F,18.793,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,0
31,2006,F,18.524,61,3,3,0,0,2,0,...,0,0,2,1,0,0,0,0,0,0
32,2006,F,18.683,41,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
33,2006,M,19.072,43,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,2006,F,NaN,0,0,0,0,1,0,0,...,0,1,0,0,0,0,2,0,0,0
35,2006,M,17.906,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,2006,F,19.053,212,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
37,2006,F,18.908,34,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,2006,F,NaN,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
39,2006,F,19.280,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
40,2006,F,18.324,54,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
41,2006,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,2006,F,18.089,37,0,0,4,0,0,0,...,0,0,0,2,0,0,0,0,0,0
43,2006,M,19.343,28,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,2006,F,18.697,24,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
45,2006,F,19.239,43,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
46,2006,F,18.355,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
47,2006,F,18.787,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,2006,NaN,18.894,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,2006,M,NaN,35,1,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
teenager["age"].describe()

count    24477.000000
mean        17.252429
std          1.157465
min         13.027000
25%         16.304000
50%         17.265000
75%         18.220000
max         19.995000
Name: age, dtype: float64

In [110]:
teenager["gender"]=teenager["gender"].replace(np.nan,"unknown")

In [111]:
teenager["gender"].value_counts()

F          22054
M           5222
unknown     2724
Name: gender, dtype: int64

In [112]:
gender_dummies=pd.get_dummies(teenager["gender"],prefix="gender")
gender_dummies.head(10)

   gender_F  gender_M  gender_unknown
0         0         1               0
1         1         0               0
2         0         1               0
3         1         0               0
4         0         0               1
5         1         0               0
6         1         0               0
7         0         1               0
8         1         0               0
9         1         0               0

In [113]:
teenager=pd.concat([teenager,gender_dummies],axis=1)

In [114]:
teenager.head(10)

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,clothes,hollister,abercrombie,die,death,drunk,drugs,gender_F,gender_M,gender_unknown
0,2006,M,18.980,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2006,F,18.801,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2006,M,18.335,69,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,2006,F,18.875,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,2006,unknown,18.995,10,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
5,2006,F,NaN,142,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
6,2006,F,18.930,72,0,0,0,0,0,0,...,0,2,0,0,0,0,0,1,0,0
7,2006,M,18.322,17,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
8,2006,F,19.055,52,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,2006,F,18.708,39,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [116]:
age_mean=teenager["age"].mean()

In [118]:
teenager["age_avg_imputated"]=teenager["age"].fillna(value=age_mean)
# teenager["age"][np.isnan(teenager["age"])]=age_mean

c:\python27\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [119]:
teenager.head(10)

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,hollister,abercrombie,die,death,drunk,drugs,gender_F,gender_M,gender_unknown,age_avg_imputated
0,2006,M,18.980000,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,18.980000
1,2006,F,18.801000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,18.801000
2,2006,M,18.335000,69,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,18.335000
3,2006,F,18.875000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,18.875000
4,2006,unknown,18.995000,10,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,18.995000
5,2006,F,17.252429,142,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,17.252429
6,2006,F,18.930000,72,0,0,0,0,0,0,...,2,0,0,0,0,0,1,0,0,18.930000
7,2006,M,18.322000,17,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,18.322000
8,2006,F,19.055000,52,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,19.055000
9,2006,F,18.708000,39,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,18.708000

In [124]:
teenager_filtered = teenager.drop(['gender','age'],axis=1)

In [128]:
from sklearn import preprocessing
teenager_zscore=pd.DataFrame(preprocessing.scale(teenager_filtered), columns=teenager_filtered.columns)
teenager_zscore.head(5)

,gradyear,friends,basketball,football,soccer,softball,volleyball,swimming,cheerleading,baseball,...,hollister,abercrombie,die,death,drunk,drugs,gender_F,gender_M,gender_unknown,age_avg_imputated
0,-1.341641,-0.634528,-0.332217,-0.357697,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,...,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908,-1.665979,2.178285,-0.316019,1.652413
1,-1.341641,-0.826150,-0.332217,1.060049,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,...,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908,0.600248,-0.459077,-0.316019,1.481200
2,-1.341641,1.062695,-0.332217,1.060049,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,...,-0.201476,-0.183032,-0.294793,2.027908,-0.220403,-0.174908,-1.665979,2.178285,-0.316019,1.035474
3,-1.341641,-0.826150,-0.332217,-0.357697,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,...,-0.201476,-0.183032,-0.294793,-0.261530,-0.220403,-0.174908,0.600248,-0.459077,-0.316019,1.551981
4,-1.341641,-0.552404,-0.332217,-0.357697,-0.242874,-0.217928,-0.22367,-0.259971,-0.207327,-0.201131,...,-0.201476,-0.183032,-0.294793,-0.261530,2.285122,2.719316,-1.665979,-0.459077,3.164367,1.666760

In [129]:
from sklearn.cluster import KMeans
teenager_cluster_model = KMeans(n_clusters = 5)
teenager_cluster_model.fit(teenager_zscore)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [131]:
teenager_labels = pd.Series(teenager_cluster_model.labels_)
teenager_labels.value_counts().sort_index()

0     1599
1    19789
2     2610
3      983
4     5019
dtype: int64

In [134]:
teenager_centers = pd.DataFrame(teenager_cluster_model.cluster_centers_,columns=teenager_zscore.columns)
teenager_centers

,gradyear,friends,basketball,football,soccer,softball,volleyball,swimming,cheerleading,baseball,...,hollister,abercrombie,die,death,drunk,drugs,gender_F,gender_M,gender_unknown,age_avg_imputated
0,0.159140,0.078889,0.515684,0.497916,0.213959,0.224254,0.243469,0.369072,0.289995,0.365862,...,0.099701,0.125692,1.220352,0.805156,1.290120,1.817926,0.318210,-0.228163,-0.187600,-0.152215
1,0.007209,0.028355,-0.045796,-0.100570,-0.012690,0.040444,0.019547,-0.005732,0.009219,-0.098363,...,-0.136775,-0.140552,-0.071543,-0.038244,-0.074799,-0.107046,0.600248,-0.459077,-0.316019,-0.015555
2,-0.068538,-0.121281,-0.146049,-0.169751,-0.052809,-0.104492,-0.075785,-0.077657,-0.063553,-0.096848,...,-0.113086,-0.140544,-0.091721,-0.125567,-0.103286,-0.120572,-1.665979,-0.459077,3.164367,-0.009560
3,0.365323,0.407711,0.216445,0.272572,0.137553,0.153400,0.297749,0.275259,0.496814,0.042606,...,3.688473,3.768956,0.022854,0.118102,0.067618,0.025303,0.328208,-0.290050,-0.121287,-0.319039
4,-0.115033,-0.153714,0.049831,0.272789,-0.017610,-0.206615,-0.173542,-0.108510,-0.192994,0.313286,...,-0.156086,-0.150959,-0.063488,-0.063559,-0.075632,-0.099366,-1.665979,2.178285,-0.316019,0.177282

In [139]:
centers_t = teenager_centers.T # transpose matrix
centers_t.columns = ["cluster_0", "cluster_1", "cluster_2", "cluster_3", "cluster_4"]
centers_t["cluster_0"].sort(ascending = False, inplace=False).head(10)

c:\python27\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  app.launch_new_instance()

hair       2.155562
kissed     2.066487
drugs      1.817926
sex        1.513076
clothes    1.314672
drunk      1.290120
die        1.220352
rock       1.198853
music      1.094234
cute       0.870354
Name: cluster_0, dtype: float64

浪漫，爱好音乐，酗酒。。。

In [141]:
centers_t["cluster_1"].sort(ascending = False, inplace=False).head(10)

c:\python27\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

gender_F        0.600248
shopping        0.045518
softball        0.040444
friends         0.028355
volleyball      0.019547
cheerleading    0.009219
gradyear        0.007209
cute            0.006032
dress           0.001471
dance           0.000364
Name: cluster_1, dtype: float64